
.header {
  text-align: center;
  display: center;
}
.header h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: Black; 
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  padding: 11px 60px;
  margin: 0; 
  line-height: 1;
}

.menu ul {
  background: black;
  display: inline-block;
  width: 100%;
  list-style: none; 
  padding-left: 0; 
  margin-top:0px; 
  margin-bottom:0px;
   
}
.menu a {
  text-decoration: none; 
  background:Black; 
  color:White; 
  padding:0px 0px; 
  font-family: 'Montserrat', sans-serif; 
  line-height:50px; 
  display: block; 
  -moz-transition: all 0.3s 0.01s ease; 
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.menu a:hover {
  background:Gray;
  	padding: 15px;
}
.menu li {
	display: inline-block;
	display: center;
	padding: 10px;
}

.panel {
    margin-left: auto;
    margin-right: auto;
	padding-left: 20px;
    padding-top: 20px;
	padding-bottom: 20px;
	height:100%;
	border-style: double; 
	color: Black; 
	padding:3px; 
	line-height:25px; 
	display: block; 
	text-align: center;
}
.content111 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	text-decoration: none; 
	color:Black; 
	  padding:15px 15px; 
	  padding-bottom:15px;
	  font-family: 'Montserrat', sans-serif; 
	  line-height:25px; 
	  display: block; 
}
.content111 a {
  color: Black;
}
/*Контейнеры*/
.container {
	background: lavender;
	position: absolute;
    margin-left: 33%;
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}


.container h1 {
	margin-left: auto;
    margin-right: auto;
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #BlueViolet;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #Indigo;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(75, 0,32,0.75);
}

/*Ввод текста*/

.newfile input[type=text], textarea {
 -webkit-transition: all 0.30s ease-in-out;
 -moz-transition: all 0.30s ease-in-out;
 -ms-transition: all 0.30s ease-in-out;
 -o-transition: all 0.30s ease-in-out;
 outline: none;
 padding: 3px 0px 3px 3px;
 margin: 5px 1px 3px 0px;
 border: 2px solid Black;
}
.newfile input[type=text]:focus, textarea:focus {
 box-shadow: 0 0 5px Indigo;
 margin: 5px 1px 3px 0px;
 border: 1px solid Black;
}
.login{
	background-color:Indigo;
	margin: auto;
	border: 10px solid Black;
	width:350px;
}
.login input[type="text"]{
	width:auto;
	height:25px;
}
.login input[type="password"]{
	width:auto;
	height:25px;
	border:1px solid black;
}
p {
  text-align: center;
  color: Black;
}

/*Кнопки*/

.button{
border: solid 1px Black;
	background: Gray;
	background: -webkit-gradient(linear, left top, left bottom, from(#BlueViolet), to(#Purple));
	background: -moz-linear-gradient(top,  #BlueViolet,  #Purple);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#BlueViolet', endColorstr='#Purple');
	color: Black;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
float: right;
cursor: pointer;
}